._index-modal-criar-tarefa{
    width: 80%;
    position: fixed;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    background: var(--tertiary);
    z-index: 9999;
    border-radius: var(--radius);
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease;
    border: solid 1px var(--primary);
    color: var(--secondary);

    & h3{
        font-size: var(--text-xlg);
        text-align: center;
        border-bottom: solid 1px var(--secondary);
        padding-bottom: 5px;
    }

    & .form{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & .inputs{
            width:100%;

            & input{
                width: 100%;
                height: 2.5rem;
                padding: 0 5px;
                font-size: var(--text-sm);
                border-radius: var(--radius);
                border: solid 1px var(--secondary);
                outline: none;
                transition: all 200ms ease;

                &:focus-visible{
                    border-color: var(--primary);
                }
            }

            & textarea{
                width: 100%;
                height: 3rem;
                padding: 5px;
                border-radius: var(--radius);
                border: solid 1px var(--secondary);
                outline: none;
                transition: all 200ms ease;

                &:focus-visible{
                    border-color: var(--primary);
                }
            }

            & h4{
                margin-bottom: 10px;
            }
        }

        & #priorityInput{
            width: 100%;

            & .radiosDiv{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 10px;
            }

            & .radio{
                display: flex;
                align-items: center;
                justify-content: center;
                width:calc(50% - 10px);
                gap: 5px;

                & input{
                    width:1rem;
                    height: 1rem;
                    appearance: none;
                    border: solid 1px gray;
                    border-radius: 50%;
                    cursor: pointer;
                    position: relative;

                    &:checked{
                        border-color: var(--secondary);
                    }

                    &:checked::before{
                        content: "";
                        width: 0.6rem;
                        height: 0.6rem;
                        background: var(--primary);
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                & label{
                    width: 4rem;
                    text-align: center;
                    color: white;
                    border-radius: 15px;
                    padding: 2px 6px;
                    font-size: var(--text-xs);
                    font-weight: bold;
                }

                & #lowLabel{
                    background: var(--low);
                }

                & #mediumLabel{
                    background: var(--success);
                }

                & #highLabel{
                    background: var(--warning);
                }

                & #urgentLabel{
                    background: var(--danger);
                }
            }
        }

        & .buttons{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            align-items: center;

            & button{
                width: 7rem;
                height: 2.7rem;
                font-weight: bold;
                color: white;
                border-radius: var(--radius);
                transition: all 200ms ease;

                &:active{
                    transform: scale(0.95);
                }
            }

            & #closeNewTaskButton{
                background: var(--danger);
            }

            & #createNewTaskButton{
                background: var(--primary);
            }
        }
    }

    &.active{
        opacity: 1;
        visibility: visible;
    }
}

._index-tarefas-pendentes{
    width: 100%;
    margin-top:1rem;
    padding: 10px;

    & .prioridade{
        width: 100%;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px var(--primary);

        & p{
            background: var(--danger);
            width: 4rem;
            text-align: center;
            color: white;
            border-radius: 15px;
            padding: 2px 6px;
            font-size: var(--text-xs);
            font-weight: bold;
        }

        & button{
            width: 1.7rem;
            height: 1.7rem;

            & img{
                width: 100%;
                height: 100%;
            }
        }
    }

    & .header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h2{
            font-size: var(--text-lg);
        }

        & button{
            background: var(--primary);
            width: 8rem;
            height: 3rem;
            border-radius: var(--radius);
            font-weight: bold;
            transition: all 200ms ease;

            &:active{
                transform: scale(0.95);
            }
        }
    }

    & .lista-tarefas-pendentes{
        width: 100%;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        margin-top:2rem;

        & li{
            width: 100%;
            height: auto;
            background: white;
            border: solid 1px var(--primary);
            border-radius: var(--radius);
            box-shadow: var(--shadow);
            color: black;
            position: relative;


            & .titulo{
                padding:10px;

                & h3{
                    font-size: var(--text-md);
                    text-align: center;
                }
            }

            & .descricao{
                width: 100%;
                padding: 10px;
                margin-bottom: 4rem;

                & p{
                    font-size: var(--text-sm);
                }
            }

            & .footer{
                border-top: solid 1px var(--primary);
                width: 100%;
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-items: center;
                bottom: 0;
                left:0;
                padding: 10px;
                font-size: var(--text-sm);

                & .date{
                    display: flex;
                    gap: 2rem;
                    
                    & h3{
                        font-size: var(--text-sm);
                        font-weight: lighter;
                    }

                    & .expirado{
                        & h3{
                            font-weight: bold;
                        }
                    }
                }

                & button{
                    width: 1.5rem;
                    height: 1.5rem;

                    & img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}